- if admin_menus.any?
  %h1 Modules
  %ul
    - admin_menus.each do |menu|
      %li
        = link_to eval(menu.path), class: 'media addon-link' do
          %i.icon{class: "icon-express_#{menu.name.downcase}"}
          %span= menu.name
