%footer.footer
  .footer-wrapper
    .large-12.column
      &copy;
      Copyright 2014 ÆLOGICA LLC.  All rights reserved.  Your use of this site is governed by
      %a{href: 'http://alpha.appexpress.io/terms-of-service'} Terms & Conditions
