-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
%nav.top-bar{"data-topbar" => true, "data-options" => "is_hover:false"}
  = render title_partial rescue 'ExpressAdmin'

  .top-bar-section
    %ul
      %li.divider
      %li.has-dropdown.megamenu
        %a{href: '#', onClick: 'return false;'} Manage
        %ul.dropdown.dropdown-wrapper
          %li.megamenu-overlay
            .megamenu-container
              .medium-9.columns
                = render partial: 'shared/express_admin/express_admin_module_menu'
              / Any module wishing to provide an extra menu may do here.
              .medium-3.columns.extra
                = render partial: 'shared/express_admin/express_admin_extra_menu' rescue nil

  %section.top-bar-section
    %ul.left
      %li.divider
      %li
        %a{href: "/"} View Site

    = render partial: 'shared/express_admin/navigation_bar_profile'
