%ul.title-area
  %li.name
    %a{href: 'http://alpha.appexpress.io/apps'}
      = image_tag 'express_admin/appexpress_logo_dark.png', class: 'nav-logo'
      %small{style: "color: red;"} alpha
  %li.toggle-topbar.menu-icon
    %a{href: "#"}
      %span menu

%section.top-bar-section
  %ul.left
    %li.divider
    %li
      %a{href: "/"} View Site
