%ul.title-area
  %li.name
    %a{href: 'http://alpha.appexpress.io/apps'}
      = ExpressAdmin
  %li.toggle-topbar.menu-icon
    %a{href: "#"}
      %span menu

%section.top-bar-section
  %ul.left
    %li.divider
    %li
      %a{href: "/"} View Site
