.top-bar
  .megamenu-overlay
    background: transparent
    padding: 0 0 20px

.dropdown.dropdown-wrapper
  background-color: #fff
  border:
    left: 2px solid $border-color
    right: 2px solid $border-color
    bottom: 2px solid $border-color
  left: -225px
  width: 960px !important

.top-bar-section .dropdown li
  .megamenu-container
    padding: 20px

  h1
    font-size: 1.4rem

  nav
    ul
      li
        background-color: transparent
        border: none
        float: left
        padding: 0 20px 0 0
        width: 33.3333333333333%

        a
          background-color: transparent !important
          color: #26ade4 !important
          line-height: 2 !important
          padding: 0 !important
          transition: color 0.3s ease !important

          i
            font-size: 1.2rem
            margin-right: 5px
            position: relative
            top: 2px

          &:hover
            color: #1998cb !important

            span
              text-decoration: underline

  .main
    @include grid-column(9)


  .extra
    @include grid-column(3)
    ul
      li
        float: inherit

        a
          display: block

          &:hover
            text-decoration: underline

      li, a
        width: 100%

@media #{$small-up}
  .dropdown-wrapper
    padding: 10px 0
