/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  *= require express_admin/framework_and_overrides
  *= require_self

*/

main.admin {
  padding-left: 0;
  padding-bottom: 2em;
}

body {
  margin-top: 45px !important;
  background-color: #eee !important;
}

nav.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.side-nav {
  height: 100%;
  background-color: #333;
  position: fixed;
  top: 45px;

  ul {
    width: 125px;

    li.group {
      padding-left: 0.5em;
      text-transform: uppercase;
      border-bottom: 1px dotted #666;
      color: #aaa;
    }

    li {
      padding-left: 1em;
      color: #ddd;
    }

    li.active {
      // background-color: #57d
    }
  }
}

.admin-body {
  padding-left: 0.9375rem;
  margin-left: 125px;

  overflow: scroll;

  ul.gallery {

    li {
      margin-right: 1em;
      float: left;
      list-style-type: none;
      list-style-position: inside;
      height: 212px;
      padding-bottom: 1em;
    }

    li.not-installed:hover {
      border: 1px solid #aaa;
    }
  }
}

#flash-messages {
  position: absolute;
  left: 600px;
  top: 2px;
  height: 40px;
  width: 300px;
}

.alert-box {
  height: inherit;
  width: inherit;
  text-align: center;
}

.nav-alert {
  padding: 0 !important;
  opacity: 0.9;
}

#nav-js-alert {
  position: relative;
  top: -4px;
}

.text-center {
  text-align: center;
}

.dot {
  color: transparent;
}
