/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  *= require express_admin/framework_and_overrides
  *= require select2
  *= require_self

*/

main.admin {
  padding-left: 0;
  padding-bottom: 2em;
}

body {
  margin-top: 45px !important;
  background-color: #eee !important;
}

nav.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.side-nav {
  height: 100%;
  background-color: #333;
  position: fixed;
  top: 45px;

  ul {
    width: 125px;

    li.group {
      padding-left: 0.5em;
      text-transform: uppercase;
      border-bottom: 1px dotted #666;
      color: #aaa;
    }

    li {
      padding-left: 1em;
      color: #ddd;
    }

    li.active {
      // background-color: #57d
    }
  }
}

.admin-body {
  padding-left: 0.9375rem;
  margin-left: 125px;

  .row {
    max-width: none;
  }

  overflow: scroll;

  ul.gallery {

    li {
      margin-right: 1em;
      float: left;
      list-style-type: none;
      list-style-position: inside;
      height: 212px;
      padding-bottom: 1em;
    }

    li.not-installed:hover {
      border: 1px solid #aaa;
    }
  }
}

#flash-messages {
  position: absolute;
  left: 600px;
  top: 2px;
  height: 40px;
  width: 300px;
}

.alert-box {
  height: inherit;
  width: inherit;
  text-align: center;
}

.nav-alert {
  padding: 0 !important;
  opacity: 0.9;
}

#nav-js-alert {
  position: relative;
  top: -4px;
}

.text-center {
  text-align: center;
}

.dot {
  color: transparent;
}

.button-area {
  margin-top: 20px;
}

#post_slug {
  display: inline;
  width: 15%;
}

.category-slug {
  margin-left: -4px;
}

.themes {
  margin: 0;

  .theme {
    color: #333;
    display: block;
    padding: 20px;
    border: 2px solid #ccc;
    height: 100%;

    &:hover {
      border: 2px solid #888;
    }

    &.selected {
      border: 2px solid #43ac6a;
      pointer-events: none;

      &::before {
        content: "Current Theme";
        position: absolute;
        bottom: 0px;
        right: 15px;
        font-weight: bold;
        display: block;
        padding: 10px;
        color: #fff;
        background-color: #43ac6a;
      }
    }
  }
}

.nav-logo {
  width: 150px;
}

