@import 'bourbon'
@import 'foundation_and_overrides'

@import 'globals/variables'
@import 'globals/typography'

@import 'shared/navigation'
@import 'shared/buttons'
@import 'shared/forms'
@import 'shared/tables'
@import 'shared/messages'
@import 'shared/panels'
@import 'shared/alerts'
@import 'shared/progress'

@import 'sections/footer'
@import 'sections/header'
@import 'sections/sidebar'
@import 'sections/main_content'

@import 'components/empty_state'
@import 'components/card_list'

.generate-subdomain
  cursor: pointer

.devise-options
  margin:
    bottom: 30px

#nav-js-alert
  position: relative
  top: -4px

#app_subdomain

  &:read-only
    background-color: #f0f0f0
