@import 'bourbon'
@import 'foundation'

@import 'globals/variables'
@import 'globals/mixins'
@import 'globals/typography'
@import 'globals/foundation_overrides'

@import 'sections/header'
@import 'sections/main_content'
@import 'sections/page_sidebar'
@import 'sections/page_body'
@import 'sections/main_region'
@import 'sections/sidebar_region'

@import 'components/main_menu'
@import 'components/sub_menu'
@import 'components/module_sidebar'
@import 'components/widget_box'
@import 'components/pane'

@import 'shared/media_object'
@import 'shared/breadcrumbs'
@import 'shared/buttons'
@import 'shared/forms'
@import 'shared/tables'
@import 'shared/trees'
@import 'shared/loading'
@import 'shared/messages'
@import 'shared/tabs'
@import 'shared/alerts'
@import 'shared/progress'
@import 'shared/reveal'

@import 'components/empty_state'

@import 'plugins/dataTables'
@import 'plugins/select2'
@import 'plugins/tinymce'

.generate-subdomain
  cursor: pointer

.devise-options
  margin:
    bottom: 30px

#app_subdomain

  &:read-only
    background-color: #f0f0f0
