.footer
  width: 100%
  border-top: 2px solid $border-color
  display: block
  position: fixed
  height: 50px
  bottom: 0
  z-index: 99
  padding: 1.3em 0
  font-size: rem-calc(12)
  background-color: #fff

  .footer-wrapper
    @include grid-row
    color: $gray



