.main-container
  padding-bottom: 52px
  padding-top: 70px
  @include clearfix

  > .row,
  .page-header > .row,
  > .content-body > .row
    max-width: 100%


.page-header
  @include clearfix

  margin: 0.5rem 0 2rem

.content-body
  width: 100%
  background-color: #fff
  position: relative
  padding-left: 206px
  float: left
  display: block
