.main-container
  padding-bottom: 52px
  padding-top: 55px
  @include clearfix

  > .row,
  .page-header > .row,
  > .content-body > .row
    max-width: 100%


.page-header

  h1
    font-weight: normal
    font-size: 1.8rem

  @include clearfix


.page-header, .page-body
  padding: 10px 20px 0

.page-body
  padding-bottom: 60px
  & > .row
    margin: 0

    & > .columns
      padding: 0

.content-body
  width: 100%
  background-color: #fff
  position: relative
  padding-left: 182px
  float: left
  display: block
