.sidebar-wrapper
  position: fixed
  z-index: 49
  background: $block-alt-bg-color
  display: block
  width: 206px
  height: 100%
  top: 0
  left: 0

.sidebar
  display: block
  position: absolute
  overflow: scroll
  background: transparent
  width: 206px
  padding-top: 75px
  top: 0
  left: 0
  z-index: 50

  .title
    padding: 0 1.6rem

  .side-nav
    li
      a:not(.button)
        padding: 0.5rem 1.6rem

      &.active
        background: #fff

        a:not(.button)
          color: #444

          &:hover
            background: #fff
            color: #222

