$border-color: #DDD
$gray: #AAA
$silver: #DDD
$block-alt-bg-color: #363636

$purple-color: #7771D3

$top-menu-border-color: #353535

$blue-color: #26ADE4
$brand-color: #252525
$lightest-brand-color: #303030
$orange-color: #f08a24
$red-color: #f04124
$light-green-color: #79BD9A
$green-color: #8FBE00
