$border-color: #DDD
$gray: #AAA
$silver: #DDD
$block-alt-bg-color: whitesmoke

$purple-color: #7771D3

$top-menu-border-color: #4e4e4e

$blue-color: #26ADE4
$brand-color: #333
$lightest-brand-color: #272727
$orange-color: #f08a24
$red-color: #f04124
$light-green-color: #79BD9A
$green-color: #8FBE00
