#flash-messages
  z-index: 999
  position: absolute
  left: 50%
  -webkit-transform: translateX(-50%)
  transform: translateX(-50%)
  width: 400px

.alert-box
  border-radius: 0 0 $global-radius $global-radius
  line-height: 1.5em
  width: inherit
