button, .button, .button.tiny
  margin-bottom: 0
  padding-left: 10px
  padding-right: 10px

  &.secondary
    &:hover, &:focus
      background-color: #d4d4d4

  &.gray
    background-color: $silver
    color: #333
    border: none

    &:hover
      background-color: darken($silver, 10%)
      color: #222

  &.success
    background-color: $green-color

    &:hover
      background-color: darken($green-color, 10%)

  .icon
    position: relative
    display: inline-block

.button-bar
  margin-bottom: rem-calc(20)
