button, .button
  &.gray
    background-color: $silver
    color: #333
    border: none

    &:hover
      background-color: darken($silver, 10%)
      color: #222

  .icon
    position: relative
    display: inline-block

