.form-container,
form
  label
    color: darken($gray, 30%)
    margin-bottom: 10px

    &.hide
      display: none

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea
    border-radius: $global-radius
    border: 1px solid $gray
    padding: 0.825rem
    height: auto
    box-shadow: none

    &:focus,
    &:active
      box-shadow: none
      border-color: darken($gray, 20%)

  .postfix, .prefix
    height: 44px

  &.form-horizontal
    .form-group
      @include clearfix
      margin:
        left: -(rem-calc(15))
        right: -(rem-calc(15))
        bottom: rem-calc(20)

      input
        margin-bottom: 0.5rem

      .control-label
        margin-top: rem-calc(10)

fieldset
  margin: 0 0 rem-calc(20) 0
  border-radius: $global-radius

  fieldset
    margin: rem-calc(20)

.help-block
  @extend .text-muted

label
  font-weight: normal

.inline
  display: inline-block
  width: auto

.content-body input[type=text]
  padding: 10px

input[type=checkbox], input[type=radio]
  margin-right: 5px

textarea
  resize: none

.mce-tinymce
  button:hover, button:focus, .button:hover, .button:focus
    background-color: #d4d4d4

.mce-fullscreen
  z-index: 99999999 !important

.help
  color: #999
  font-style: italic
  position: relative
  top: -18px

