form
  margin:
    bottom: 1rem

  textarea
    resize: none

  select[multiple]
    height: 6rem

.help
  color: $gray
  font:
    style: italic

.login-box
  background: #fff
  border: 1px solid #ddd
  margin: 100px 0
  padding: 40px 20px 0 20px