dialog, .reveal-modal
  margin-left: -48%
  width: 96%

dialog .close-reveal-modal, .reveal-modal .close-reveal-modal
  right: 7px
  top: -5px

h1
  font-size: 1.6rem
  font-weight: normal
  margin-bottom: 10px
