table
  border-collapse: collapse
  width: 100%

  thead
    tr
      border-bottom: 1px solid $border-color

  tbody
    tr
      border-bottom: 1px solid $border-color

  td
    .button
      margin: 0 rem-calc(5)
