.tabs
  border-top: 1px solid $border-color
  border-bottom: 1px solid $border-color

  dd > a,
  .tab-title > a
    padding: rem-calc(16 32)
    font-weight: 500

    &:first-child
      padding-left: 0

    &:hover
      color: $primary-color
