.table
  width: 100%

  thead
    border:
      bottom: 2px solid $dark

    th
      padding: 0.5rem
      text-align: left

  tbody
    td
      padding: 0.5rem


  &.striped
    tbody
      > tr:nth-of-type(odd)
        background: $light-blue-background
