.tree
  a
    display: block
    padding: 1rem

    &:hover
      background: $light-gray

  .selected
    background: $blue
    font:
      weight: bold

    a
      color: $light-gray

      &:hover
        background: transparent

  ul
    li
      a
        padding:
          left: 3rem
      &:last-child
        border:
          bottom: 0
