.tree
  a
    display: block
    padding: 1rem

    &:hover
      background: $light-gray

  .selected
    background: $dark-blue
    font:
      weight: bold

    a
      color: $light-gray

      &:hover
        background: transparent

  ul
    li
      &:last-child
        border:
          bottom: 0
      a::before
        content: "– "
      > ul li
        a::before
          content: "– – "
        > ul li a::before
          content: "– – – "