-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
%nav.top-bar{"data-topbar" => true}
  %ul.title-area
    %li.name
      = render title_partial

  .top-bar-section{style: 'float: right; margin-right: 3em;'}
    %ul
      %li
        - if self.respond_to?(:user_signed_in?)
          - if user_signed_in?
            = link_to 'Sign out', main_app.destroy_user_session_path, method: :delete
          - else
            = link_to 'Sign in', main_app.user_session_path(:appexpress)

  #flash-messages
    #nav-js-alert.hide
      .nav-alert.alert-box.radius{data: {alert: ''}}
    = render 'layouts/express_admin/messages'
